/* Structure */

.body {
	word-wrap: break-word;
}

.page-body {
	margin-top: 5rem;
}

.main-container {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-right: 1.2rem;
	padding-left: 1.2rem;
	
	background-color: #bdc9e1;
}

.source-container {
	padding-top: 0.5rem;
	padding-bottom:0.5rem;
	padding-right: 1.2rem;
	padding-left: 1.2rem;
	
	background-color: #bdc9e1;
	margin-top: 1.2rem;
}

@media (max-width: 768px) {
	.expendable {
		display:none;
	}
}

.container {
	text-align: left;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}

@media (min-width: 576px) {
	.container {
		width: 540px;
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		width: 720px;
		max-width: 100%;
	}
}

@media (min-width: 992px) {
	.container {
		width: 960px;
		max-width: 100%;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1140px;
		max-width: 100%;
	}
}

/* Navigation Bar */

.navigation-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;

	background-color: #202072;
	color: #FFFFFF;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	font-size: 1.2rem;
}

.navbar-span {
	margin-right: 1rem;
}

.navbar-span-right {
	position: fixed;
	top: 0.7rem;
	right: 1.0rem;
}

.navigation-bar-hidden {
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;

	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	padding-right: 1rem;
	padding-left: 1rem;

	background-color: #202072;
	color: #FFFFFF;
	font-size: 1.2rem;
}

@media (max-width: 768px) {
	.navbar-span {
		display: block;
		margin: 0.7rem;
	}
}

#select-month {
	min-width: 7rem;
}

#select-format {
	min-width: 8rem;
}

#select-cutline {
	min-width: 3.2rem;
}


/* Loading pop-up */

.loading-div {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
	color: #999999;
	z-index: 1;
	display: none;
}

/* Title */

.poke-title {
	width: 40%;
	float:left;
	text-align:center
}

.title-format {
	width: 100%;
	text-align: center;
}

.subtitle {
	width: 50%;
	text-align: center;
	float: left;
}

/* Usage Tables */

.usage-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 1.3rem;
	margin-bottom: 1.2rem;
}

.usage-table tr {
	background-color: #f1eef6;
	border: solid medium #bdc9e1;
}

.usage-table td {
	padding: .75rem;
}

.tr-head {
	background-color: #045a8d !important;
	color: #FFFFFF;
	font-weight: bold;
}

.alt-table-color .tr-head {
	background-color:#253494 !important;
}

#spreads-table-min {
	display:none;
}

@media (max-width: 768px) {
	#spreads-table {
		display:none;
	}
	#spreads-table-min {
		display:table;
		width: 100%;
	}
}

.td-bold {
	font-weight: bold;
}

.stat-td {
	width: 2rem;
	text-align: center;
}

.slash-td {
	width:2px;
}

.usage-percent-td {
	font-weight: bold;
	text-align: right;
}

/* Icons and Links */

.poke-option-link {
	width: 30%;
	float:left;
}

.poke-link {
	font-weight: bold;
	margin-left: 1.2rem;
}

.item-link {
	font-weight: bold;
	margin-left: 1.2rem;
}

.poke-icon {
    content: '';
	display: inline-block;
	float:left;
    width: 40px;
    height: 30px;
    margin-top: -3px;
}

.item-icon {
    content: '';
	display: inline-block;
	float:left;
    width: 24px;
    height: 24px;
    margin-top: -3px;
}

.type-image {
	display: inline-block;
	margin-left: 1.2rem;
}

.category-image {
	display: inline-block;
	margin-left: 0.3rem;
}
